* {
  pointer-events: none;
z-index: -11;
position: fixed;
top: 0;
left: 0;
height: 100%;
object-fit: cover;
background-size: cover;
width: 100%;
opacity: 0.5;
background-image: url('https://github.com/byeoon/byeoon/assets/47872200/b763f486-7834-49b3-985b-0793ea0ca58a');
inset: 0;
backdrop-filter: saturate(2) blur(15px) brightness(3.7) opacity(0.2);
}
