body > div.page-profile > div.application-main {
    z-index: -11 !important;
    object-fit: cover;
    background-size: cover;
}

body > div.page-profile > div.application-main > main > div.container-xl > div > div.Layout-sidebar > div > div.js-profile-editable-replace > div.clearfix > div.position-relative {
    z-index: 1 !important;

}

#user-profile-frame:has(div > div > a[data-hovercard-type="user"]), #js-contribution-activity, #user-activity-overview, #user-profile-frame > div > div.Box, .graph-before-activity-overview, .js-profile-timeline-year-list, .pinned-item-list-item > .Box, body > div.page-profile > div.application-main > main > div.container-xl > div > div.Layout-sidebar > div, #user-repositories-list > ul, #profile-lists-container > div.Box, #user-starred-repos > div > div.col-lg-9, #user-starred-repos > div > div, .package-grid > div, #package-results > div > div > div.text-center, div#memexes-results {
    border: 1px solid #727fff !important;
    border-radius: 5px;
    box-shadow: 0 0 12px 5px #323247 !important;
}

